@media screen and (max-width: 1920px) {
  .visible-xs {
    display: none;
  }
}

@media screen and (max-width: 480px) {

  .visible-xs {
    display: block;
  }
  .slide{
    height: calc(100vh - 154px);
  }
  .header {
    padding: 15px 0;
    .logo {
      img {
        height: 40px;
      }
    }
    &__burger {
      padding-top: 10px;
      width: 40px;
    }
  }
  .nav {
    display: none;
  }

  .horse {
    transform: scale(0.7) translateX(30%);
  }

}